<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/bootstrap-3.1.1.css">
        <!-- endbuild -->
    </head>
    <body ng-app="myApp">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid" ng-controller="IndexCtrl" ng-cloak>
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li ng-repeat="mtab in menutabs" ng-class="{
                                                    active: $route.current.activetab === mtab.name
                                                }"><a ng-href="{{mtab.path}}">{{mtab.title}}</a></li>                     
                </ul>

		<ul class="nav nav-pills pull-left">
		    <li ng-show="!isLoggedIn()" ng-click="showLogin()"><a ng-href="#">Đăng nhập</a></li>
                    <li ng-show="isLoggedIn()" dropdown on-toggle="toggled(open)">
                        <a href class="glyphicon glyphicon-user dropdown-toggle" dropdown-toggle>
                            {{userMenu.userName}} <span class="caret"></span>                            
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="getProfile()">Profile</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="logOut()">Logout</a></li>
                        </ul>
                    </li>
		</ul>

                <h3 class="text-muted">iBeacon</h3>
            </div>



            <div ng-view=""></div>
            <div></div>
            <div class="footer">
                <p><span class="glyphicon glyphicon-copyright-mark"></span> 2015 UP</p>
            </div>
        </div>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/userlist.js"></script>
        <script src="scripts/controllers/userdetail.js"></script>
        <script src="scripts/controllers/beaconlist.js"></script>
        <script src="scripts/controllers/beacondetail.js"></script>
        <script src="scripts/controllers/createnewbeacon.js"></script>
        <script src="scripts/controllers/applist.js"></script>
        <script src="scripts/controllers/appdetail.js"></script>
        <script src="scripts/controllers/partnerlist.js"></script>
        <script src="scripts/controllers/partnerdetail.js"></script>
        <script src="scripts/controllers/createnewpartner.js"></script>
        <script src="scripts/controllers/partnersfrombeacon.js"></script>
        <script src="scripts/controllers/addpartnertobeacon.js"></script>
        <script src="scripts/controllers/beaconsfrompartner.js"></script>
        <script src="scripts/controllers/addbeacontopartner.js"></script>
        <script src="scripts/controllers/advertisementlist.js"></script>
        <script src="scripts/controllers/createnewadvertisement.js"></script>
        <script src="scripts/controllers/beacon2advertisements.js"></script>
        <script src="scripts/controllers/addadvertisementtobeacon.js"></script>
        <script src="scripts/controllers/doorlist.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/doordetail.js"></script>
        <script src="scripts/controllers/grouplist.js"></script>
        <script src="scripts/services/sessionservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/services/beaconservice.js"></script>
        <script src="scripts/services/appservice.js"></script>
        <script src="scripts/services/partnerservice.js"></script>
        <script src="scripts/services/advertisementservice.js"></script>
        <script src="scripts/services/doorservice.js"></script>
	<script src="scripts/controllers/registeruser.js"></script>
	<script src="scripts/controllers/registerdoor.js"></script>
        <script src="scripts/controllers/groupdetail.js"></script>
        <script src="scripts/services/groupservice.js"></script>
        <script src="scripts/services/serviceconfig.js"></script>
        <script src="scripts/controllers/errorcmd.js"></script>
        <script src="scripts/services/errorcmdservice.js"></script>
        <script src="scripts/controllers/submitmodal.js"></script>
        <script src="scripts/controllers/addpartnertobeacon2.js"></script>
        <!-- endbuild -->
    </body>
</html>
