<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Partners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="span6">            
            <th style="min-width: 20px;">Danh sách quảng cáo đã chọn</th>
            &nbsp &nbsp

            <table st-table="addedAdvertisements" st-safe-src="addedAdvertisementList" class="table table-striped table-condensed">
                <thead>

                <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>


                <tr>
                    <th st-sort="advertisementId" style="min-width: 20px;">ID</th>
                    <th st-sort="title" style="min-width: 20px;">Title</th>
                    <th st-sort="content" style="min-width: 20px;">Content</th>


                    <th st-sort="startTime" style="min-width: 10px;">Start Time</th>
                    <th st-sort="endTime" style="min-width: 10px;">End Time</th>
                    <!--                        <th st-sort="Enable" style="min-width: 10px;">Enable</th>-->
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="advertisement in addedAdvertisements">                        

                        <td>{{ advertisement.advertisementId}}</td>
                        <td>{{ advertisement.title}}</td>
                        <!--                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <!--<td><a ng-href= "{{getBeaconUri(beacon.beaconId)}}" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ advertisement.content}}</td>
                        <td>{{ advertisement.startTime}}</td>
                        <td>{{ advertisement.endTime}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="removeAdvertisementToList(advertisement)" class="btn btn-small btn-primary" title="Remove"><span class="glyphicon glyphicon-arrow-down"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <tr><th colspan="4"><a  ng-click="addAdvertisements2Beacon()" class="btn btn-small btn-primary" title="Add">Add Advertisement to Beacon<br/></a><br/><br/></th></tr>
        </div>

        <div class="span6">
            <table st-table="advertisements" st-safe-src="AdvertisementList" class="table table-striped table-condensed">
                <thead>
                    <!--		    <tr><th colspan="5"><a class="btn btn-small btn-primary" title="Create">Add partner to Beacon<br/></a><br/><br/></th></tr>-->
                <th style="min-width: 180px;">Danh sách quảng cáo</th>
                &nbsp &nbsp
                <tr>
                    <th st-sort="advertisementId" style="min-width: 20px;">ID</th>
                        <th st-sort="title" style="min-width: 20px;">Title</th>
                        <th st-sort="content" style="min-width: 20px;">Content</th>


                        <th st-sort="startTime" style="min-width: 10px;">Start Time</th>
                        <th st-sort="endTime" style="min-width: 10px;">End Time</th>

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="advertisement in advertisements">                        

                        <!--                        <td><input type="checkbox" ng-model='fooSelected' ng-checked="{{ partner.enable}}" ng-click='checkboxModel(fooSelected,partner.partnerId)'></td>-->
                        <td>{{ advertisement.advertisementId}}</td>
                        <td>{{ advertisement.title}}</td>
                        <!--                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <!--<td><a ng-href= "{{getBeaconUri(beacon.beaconId)}}" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ advertisement.content}}</td>
                        <td>{{ advertisement.startTime}}</td>
                        <td>{{ advertisement.endTime}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="addAdvertisementToList(advertisement)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-arrow-up"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>
    </body>
</html>
