<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Partners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="span6">            
            <th style="min-width: 20px;">Danh sách partner đã chọn</th>
            &nbsp &nbsp

            <table st-table="addedPartners" st-safe-src="addedPartnerList" class="table table-striped table-condensed">
                <thead>

                <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>


                <tr>

                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="name" style="min-width: 20px;">Name</th>
                    <th st-sort="address" style="min-width: 20px;">Address</th>
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partner in addedPartners">                        

                        <!--                        <td><input type="checkbox" ng-model='fooSelected' ng-checked="{{ partner.enable}}" ng-click='checkboxModel(fooSelected,partner.partnerId)'></td>-->
                        <td>{{ partner.partnerId}}</td>
                        <td>{{ partner.name}}</td>
                        <td>{{ partner.address}}</td>
                        <td>{{ partner.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="removePartnerToList(partner)" class="btn btn-small btn-primary" title="Remove"><span class="glyphicon glyphicon-arrow-down"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <tr><th colspan="4"><a  ng-click="addPartners2Beacon()" class="btn btn-small btn-primary" title="Add">Add partner to Beacon<br/></a><br/><br/></th></tr>
        </div>

        <div class="span6">
            <table st-table="partners" st-safe-src="partnerList" class="table table-striped table-condensed">
                <thead>
                    <!--		    <tr><th colspan="5"><a class="btn btn-small btn-primary" title="Create">Add partner to Beacon<br/></a><br/><br/></th></tr>-->
                <th style="min-width: 180px;">Danh sách partner</th>
                &nbsp &nbsp
                <tr>
                    <!--                        <th style="width:20px;"> </th>-->
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="name" style="min-width: 20px;">Name</th>
                    <th st-sort="address" style="min-width: 20px;">Address</th>
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partner in partners">                        

                        <!--                        <td><input type="checkbox" ng-model='fooSelected' ng-checked="{{ partner.enable}}" ng-click='checkboxModel(fooSelected,partner.partnerId)'></td>-->
                        <td>{{ partner.partnerId}}</td>
                        <td>{{ partner.name}}</td>
                        <td>{{ partner.address}}</td>
                        <td>{{ partner.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="addPartnerToList(partner)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-arrow-up"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>
    </body>
</html>
