<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
	<title>Applications</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	<div class="span6">
	    <table st-table="apps" st-safe-src="appList" class="table table-striped table-condensed">
		<thead>
		    <tr><th colspan="5"><a ng-click="createApp()" class="btn btn-small btn-primary" title="Create">Create app <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>
		    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
			<th st-sort="appName" style="min-width: 20px;">Name</th>
			<th st-sort="secretKey" style="min-width: 20px;">SecretKey</th>
			<th st-sort="urlCall" style="min-width: 20px;">urlCall</th>
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
<!--			<th style="min-width: 40px;">Groups</th>-->
                        
			<th style="width:20px;"> </th>
			<th style="width:20px;"> </th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="app in apps">
                        <td>{{ app.appId}}</td>
			<td>{{ app.appName}}</td>
			<td>{{ app.secretKey}}</td>
			<td>{{ app.urlCall}}</td>
			<td>{{ app.enable}}</td>
<!--			<td>
			    <span ng-repeat="group in beacon.groups">
				{{group.name}}
			    </span>
			</td>			-->
			<td><a ng-click="viewAppDetail(app.appId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><a ng-click="removeApp(app.appId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
		    </tr>
		</tbody>
	    </table>
	    <pagination ng-model="currentPage" 
			total-items="totalItems" items-per-page="itemPerPage" 
			ng-change="pageChanged()"></pagination>
	</div>
    </body>
</html>
