<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--        <div>TODO write content</div>-->
        <div class="span6">
            <tr><th colspan="5"><a ng-click="addAdvertisement()" class="btn btn-small btn-primary" title="Add">Add Advertisement <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>
            <table st-table="advertisements" st-safe-src="advertisementList" class="table table-striped table-condensed">
                <thead>                    
                    <tr>
                        <th st-sort="advertisementId" style="min-width: 20px;">ID</th>
                        <th st-sort="title" style="min-width: 20px;">Title</th>
                        <th st-sort="content" style="min-width: 20px;">Content</th>


                        <th st-sort="startTime" style="min-width: 10px;">Start Time</th>
                        <th st-sort="endTime" style="min-width: 10px;">End Time</th>
                        <!--                        <th st-sort="Enable" style="min-width: 10px;">Enable</th>-->
                        <!--			<th style="min-width: 40px;">Groups</th>-->

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="advertisement in advertisements">
                        <td>{{ advertisement.advertisementId}}</td>
                        <td>{{ advertisement.title}}</td>
                        <!--                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <!--<td><a ng-href= "{{getBeaconUri(beacon.beaconId)}}" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ advertisement.content}}</td>
                        <td>{{ advertisement.startTime}}</td>
                        <td>{{ advertisement.endTime}}</td>

                        <!--<td>{{ advertisement.enable}}</td>-->
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <!--<td><a ng-href= "{{getBeaconUri(advertisement.advertisementId)}}" class="btn btn-small btn-primary" title="danh sach partner"><span class="glyphicon glyphicon-info-sign"></span></a></td>-->
                        <!--<td><a ng-click="viewBeaconDetail(beacon.beaconId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>-->
                        <td><a ng-click="removeAdvertisement(advertisement.advertisementId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
<!--            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>-->
        </div>
    </body>
</html>
