<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal-body">

            <form  novalidate="novalidate">
                <div class="form-group">
                    <label class="form-control-static">Title:</label>
                    <input class="form-control input-sm" type="text" ng-model="newAdvertisement.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-static">Content:</label>
                    <input class="form-control input-sm" type="text" ng-model="newAdvertisement.content" />
                </div>
                <div class="form-group">
                    <label class="form-control-static">Start Time:</label>
                    <input class="form-control input-sm" type="text" ng-model="newAdvertisement.startTime" />
                </div>
                <div class="form-group">
                    <label class="form-control-static">End Time:</label>
                    <input class="form-control input-sm" type="text" ng-model="newAdvertisement.endTime" />
                </div>
                <div class="form-group">
                    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
                    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
                </div>
                <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
            </form></div>
    </body>
</html>
