<div class="modal-body">

    <form  ng-show="!hasDoor" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newDoor.name" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="newDoor.description" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">UUID:</label>
	    <input class="form-control input-sm" type="text" ng-model="newDoor.uuid"  />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Major:</label>
	    <input class="form-control input-sm" type="text" ng-model="newDoor.major"  />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Minor:</label>
	    <input class="form-control input-sm" type="text" ng-model="newDoor.minor" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

    <form  ng-show="hasDoor" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Name:</label>	    
	    <input class="form-control input-sm" type="text" ng-model="localDoor.name" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="localDoor.description" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">Id:</label>	    
	    <input class="form-control input-sm" type="text" ng-model="localDoor.id" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">UUID:</label>
	    <p class="form-control-static input-sm"> {{localDoor.uuid}}</p>	    
	</div>
	<div class="form-group">
	    <label class="form-control-static">Major:</label>
	    <p class="form-control-static input-sm"> {{localDoor.major}}</p>
	</div>
	<div class="form-group">
	    <label class="form-control-static">Minor:</label>
	    <p class="form-control-static input-sm"> {{localDoor.minor}}</p>
	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>
