<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Partners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div ng-show="showBeaconList" class="span6">

            <!--            <a ng-click="backToPartnerList()" class="btn btn-small btn-primary" title="Back">Back to Partners <span class="glyphicon glyphicon-backward"/></a>-->
            &nbsp &nbsp &nbsp
            <a ng-click="addBeacon()" class="btn btn-small btn-primary" title="Add">Add Beacon <span class="glyphicon glyphicon-plus-sign"/></a>

            <br><br>
            <th style="min-width: 20px;">Thong tin partner</th>
            <table st-table="partnerInfo" st-safe-src="currentPartnerInfo" class="table table-striped table-condensed">
                <thead>		    
                    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
                        <th st-sort="name" style="min-width: 20px;">Name</th>
                        <th st-sort="address" style="min-width: 20px;">Address</th>
                        <th st-sort="numberBeacons" style="min-width: 20px;">Number beacons</th>
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
                        <!--			<th style="min-width: 40px;">Groups</th>-->

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                <td>{{ currentPartner.partnerId}}</td>
                <!--                <td>{{ currentPartner.name}}</td>
                                <td>{{ currentPartner.address}}</td>-->
                <td> <input class="form-control input-sm" type="text" ng-model="currentPartner.name" /> </td>
                <td> <input class="form-control input-sm" type="text" ng-model="currentPartner.address" /> </td>
                <td>{{ currentPartner.numberBeacon}}</td>
                <!--                <td>{{ currentPartner.enable}}</td>-->
                <td> <input class="form-control input-sm" type="text" ng-model="currentPartner.enable" /> </td>

                <td><a ng-click="updatePartnerInfo()" class="btn btn-small btn-primary" title="Update partner info"><span class="glyphicon glyphicon-ok"></span></a></td>
                </tbody>
            </table>

            <th style="min-width: 20px;">Danh sách beacons</th>

            <!--            <tr><th colspan="5"><a ng-click="createBeacon()" class="btn btn-small btn-primary" title="Create">Create iBeacon <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>-->
            <table st-table="beacons" st-safe-src="beaconList" class="table table-striped table-condensed">
                <thead>

                    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
                        <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                        <th st-sort="description" style="min-width: 20px;">Description</th>
                        <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                        <th st-sort="major" style="min-width: 20px;">Major</th>
                        <th st-sort="minor" style="min-width: 20px;">Minor</th>

                        <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                        <!--                        <th st-sort="lat" style="min-width: 10px;">Lat</th>
                                                <th st-sort="lng" style="min-width: 10px;">lng</th>-->
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
                        <!--			<th style="min-width: 40px;">Groups</th>-->

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in beacons">
                        <td>{{ beacon.beaconId}}</td>
                        <td>{{ beacon.beaconName}}</td>
                        <!--<td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <!--                        <td>{{ beacon.lat}}</td>
                                                <td>{{ beacon.lng}}</td>-->
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <!--<td><a ng-click="viewPartnerList(beacon)" class="btn btn-small btn-primary" title="danh sach partner"><span class="glyphicon glyphicon-info-sign"></span></a></td>-->
                        <!--<td><a ng-click="viewBeaconDetail(beacon.beaconId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>-->
                        <td><a ng-click="removeBeaconFromPartner(beacon.beaconId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>

        <div ng-show="showAddBeacon" class="span6">
            <a ng-click="backToBeaconList()" class="btn btn-small btn-primary" title="Back">Back to Partner Info <span class="glyphicon glyphicon-backward"/></a>
            &nbsp &nbsp &nbsp
            <br><br>
            <th style="min-width: 20px;">Danh sách beacon đã chọn</th>
            &nbsp &nbsp

            <table st-table="addedBeacons" st-safe-src="addedBeaconList" class="table table-striped table-condensed">
                <thead>

                <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>


                <tr>
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                    <th st-sort="description" style="min-width: 20px;">Description</th>
                    <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                    <th st-sort="major" style="min-width: 20px;">Major</th>
                    <th st-sort="minor" style="min-width: 20px;">Minor</th>

                    <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                    <!--                    <th st-sort="lat" style="min-width: 10px;">Lat</th>
                                        <th st-sort="lng" style="min-width: 10px;">lng</th>-->
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in addedBeacons">
                        <td>{{ beacon.beaconId}}</td>
                        <td>{{ beacon.beaconName}}</td>
                        <!--<td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <!--                        <td>{{ beacon.lat}}</td>
                                                <td>{{ beacon.lng}}</td>-->
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="removeBeaconToList(beacon)" class="btn btn-small btn-primary" title="remove Beacon"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <tr><th colspan="4"><a  ng-click="addBeacons2Partner()" class="btn btn-small btn-primary" title="Add">Add Beacon to Partner<br/></a><br/><br/></th></tr>

            <table st-table="beacons" st-safe-src="beaconList" class="table table-striped table-condensed">
                <thead>
                    <!--		    <tr><th colspan="5"><a class="btn btn-small btn-primary" title="Create">Add partner to Beacon<br/></a><br/><br/></th></tr>-->
                <th style="min-width: 180px;">Danh sách beacon</th>
                &nbsp &nbsp
                <tr>
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                    <th st-sort="description" style="min-width: 20px;">Description</th>
                    <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                    <th st-sort="major" style="min-width: 20px;">Major</th>
                    <th st-sort="minor" style="min-width: 20px;">Minor</th>

                    <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                    <!--                    <th st-sort="lat" style="min-width: 10px;">Lat</th>
                                        <th st-sort="lng" style="min-width: 10px;">lng</th>-->
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in beacons">                        

                        <!--                        <td><input type="checkbox" ng-model='fooSelected' ng-checked="{{ partner.enable}}" ng-click='checkboxModel(fooSelected,partner.partnerId)'></td>-->
                        <td>{{ beacon.beaconId}}</td>
                        <td>{{ beacon.beaconName}}</td>
                        <!--<td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <!--                        <td>{{ beacon.lat}}</td>
                                                <td>{{ beacon.lng}}</td>-->
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="adBeaconToList(beacon)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-arrow-up"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>
    </body>
</html>
